pytest-playwright
playwright~=1.51.0
beautifulsoup4~=4.13.4
Pillow
cairosvg
streamlit
python-dotenv
websockets
fastapi
uvicorn[standard]
gunicorn
pika
celery
flower
redis
httpx
pydantic
gspread
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
google-auth
